.color-picker{
  $self: &;

  display: flex;
  flex-flow: column;

  width: 300px;
  position: relative;
  box-sizing: border-box;

  --hue: 150;
  --saturation: 100; // 100% - completely saturated, 0% - completely desaturated (gray)
  --lightness: 50; // 0% - black, 50% - normal, 100% - white
  --alpha: 100;

  --s: calc(var(--saturation) * 1%);
  --l: calc(var(--lightness) * 1%);
  --a: calc(var(--alpha) * 1%);

  --color: hsla(var(--hue), var(--s), var(--l), var(--a));

  --checkboard-color: #DDD;
  --checkboard-base-gradient: repeating-conic-gradient(var(--checkboard-color) 0% 25%, transparent 0% 50%);

  &__hue{
    grid-area: hue;
    --fill-color: linear-gradient(to right, red 0%, #ff0 16.6%, lime 33.3%, cyan 50%, blue 66.6%, #f0f 83.3%, red 100%);
  }

  &__saturation{
    grid-area: saturation;
    --fill-color: linear-gradient(to right, white, hsl(var(--hue),var(--s), 50%));
  }

  &__lightness{
    grid-area: lightness;
    --c: hsl(var(--hue), var(--s), 50%);
    --fill-color: linear-gradient(to right, black, var(--c), white);
  }

  &__alpha{
    grid-area: alpha;
    --checkboard-size: calc(var(--track-height)/2);
    --fill-color: linear-gradient(to right, transparent, hsl(var(--hue), var(--s), var(--l))),
                  var(--checkboard-base-gradient)
                  0 / var(--checkboard-size) var(--checkboard-size);
  }

  &[data-color-format="hsla"]{
    #{$self}__value{
      input{
        font-size: 15px;
        //transition: font-size .3s;
      }
    }
  }

  &__value{
    // using "60" (instead of 50) to offset more to the white
    --isLightColor: Min(1, Max(60 - var(--lightness) - (100 - var(--alpha)), 0));
    grid-area: value;
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-top: .5em;
    overflow: hidden;
    border-radius: 10px; // roughly same same other sliders
    color: hsl(var(--hue), 100%, calc(var(--isLightColor) * 100%));
    box-shadow: 0 0 4px rgba(black, .2);

    // opacity-squares background
    &::before{
      content: '';
      position: absolute;
      z-index: -1;
      top: 0; bottom: 0; left: 0; right: 0;
      border-radius: inherit;
      background: repeating-conic-gradient(var(--checkboard-color) 0% 25%, transparent 0% 50%) 0 / 12px 12px;
      // box-shadow: 0 0 0 5px hsl(var(--hue), var(--s), var(--l)) inset;
    }

    input{
      flex: 1;
      order: 2;
      cursor: text;
      width: 0;
      letter-spacing: -.5px;
      word-spacing: -3px;
      font: 800 17px monospace;
      text-transform: uppercase;
      padding: 0;
      text-align: center;
      border: none;
      outline: none;
      background: none;
      color: inherit;
      transition: color .2s;

      ~ div{
        position: absolute;
        z-index: -1;
        top: 0; bottom: 0; left: 0; right: 0;
        border-radius: inherit;
        background: var(--color);
        box-shadow: 0 0 4px rgba(black, 1); // neede for "white" color on white background
        border: 3px solid transparent;
      }

      &:focus{
        color: black;

        ~ button{ transform: translateX(100%); }
        + button{ transform: translateX(-100%); }
        ~ div{
          background: none;
          transition: background .15s;
        }
      }
    }

    > button{
      order: 3;
      width: 1.5em;
      background: none;
      border: none;
      font: 2em/1.2 monospace;
      outline: none;
      color: inherit;
      user-select: none;
      transition: color .2s, transform .2s ease-out;

      &[name='undo']{
        order: 1;
      }

      &:hover{
      }
    }
  }
}