.color-picker{
  &.hidden{
    opacity: 0;
    pointer-events: none;
    transform: scale(.95);
  }

  &[style~='top:']{
    position: fixed;
    border-radius: 10px;
    padding: .5em;
    box-shadow: 0 0 20px rgba(black, .25);
    backdrop-filter: blur(3px);
    background-color: rgba(white, .5);
  }
}